.about_container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    color: var(--white);
    .content_container{
        width: 350px;
        border:1px solid red;
    }
    .skill_container{
        display: flex;
        padding: 15px;
        gap: 15px;
    }
    .icon-style{
        font-size: 50px;
        color: #0cc2e27e;
    }
}