.littleHeader{
    display: none;

}
.header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    ::after{
        content:' ';
        position: absolute;
        top: -190px;
        left: -80px;
        width: 300px;
        height: 300px;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        color: red;
        background-color: #2FBF71;
        z-index: -1;
    }
}
.header_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    img{
        display: flex;
        width: 75px;
        border: 5px solid #ffffff;
        height: 75px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
   
}

.header_menu ul{
    display: flex;
    flex-direction: column;
    font-size: x-small;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    gap: 15px;
    width: 220px;
    color: var(--white);

    li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        transition: all ease-in-out 0.3s;
        padding: 10px 20px;
        border-bottom: 1px solid var(--dark);
    }
   
    li:hover{
        color: #2FBF71;
    }
    li:last-child{
        border-bottom: none;
    }
}

@media screen and (max-width: 1200px) {
    .header{
        display: none;
    }
    .littleHeader{
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 100%;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
        background-color: var(--headerbackground);
        color: var(--white);

        
    }
}