.btn{
    position: relative;
   border: 1px solid var(--white);
   padding: 10px 20px;
  
}
.menu{
    background-color: var(--headerbackground);
    position: fixed;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    transition: all ease-in-out 0.3s;
    ::after{
        content:' ';
        position: absolute;
        top: -190px;
        left: -80px;
        width: 300px;
        height: 300px;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        color: red;
        background-color: #2FBF71;
        z-index: -1;
    }
    
}
.absolutemenu{
    left: -600px;
    top:0;
    z-index: 1;
}
.littleHeader{
    display: none;
}

.absolutemenu.open{
    left: 0;
}
@media screen and (max-width: 1200px) {
    .menu{
        display: none;
    }
    .absolutemenu{
        display: flex;
    }
    .littleHeader{
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        height: 61px;
        width: 100%;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
        background-color: var(--mainbackground);
        color: var(--white);

        
    }
}
